body {
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExYm03bjE1MzM0cnFvbGpsNG5uNm1hNHQ1dm9iaDAxcWlkdDZ2YTA2YyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/IRFQYGCokErS0/giphy.gif');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  
}
