body {
    background-image: url('/static/imagens/fundo.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: rgba(255, 255, 255, 0.452);
    column-count: auto;
}
main {
    border-block-start-style: solid;
}
h2 {
    background-color: rgba(255, 255, 255, 0.452);
    column-count: auto;
}