<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/404.css">
    <title>erro 404</title>
</head>
<body>
    <main class="text-center">
<h1> <a class="nav-link" href="/templates/index.html" style="color: blue;">  Voltar ao inicio <i class="bi bi-caret-left-square"></i></a> </h1>
<p class="text-center">pagina não encontrada <i class="bi bi-emoji-frown"></i></i></p>
    </main>
<footer >
       <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><div class="text-center">&copy; 2025 Lorran eduardo</div></a>
  </div>
</nav>

    </footer>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js"></script>
</body>
</html>