{% extends "_modelo.html" %}

{% block content %} 
                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/imagens/imagen 1.png" alt="Los Angeles" class="d-block" style="width:100%">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/imagens/imagen 2.png" alt="Chicago" class="d-block" style="width:100%">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/imagens/imagem 3.png" alt="New York" class="d-block" style="width:100%">
                    </div>
                </div>

                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>

    <div class="container-fluid mt-3">
    </div>
    <main>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, adipisci repellendus laboriosam, delectus aut
            nulla perferendis et omnis reprehenderit ducimus similique iste quibusdam maiores distinctio laborum
            dignissimos quidem maxime ab.</p>
        <p2> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio explicabo, expedita dolore hic eius delectus
            sequi temporibus esse? Aut tempore suscipit porro sed illo? Molestiae autem enim ut. Omnis, doloribus.</p2>
            <p3> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio explicabo, expedita dolore hic eius delectus
            sequi temporibus esse? Aut tempore suscipit porro sed illo? Molestiae autem enim ut. Omnis, doloribus.</p3>
    </main>
   {% endblock %}