<!DOCTYPE html>
<html lang="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css">
     <link rel="stylesheet" href="css/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <li class="nav-item">
                        <a class="nav-link" href="/templates/index.html"> inicio</a>
                    </li>
    <main>

    </main>
    <footer>
        <footer class="bg-dark text-light p-3">
            <div class="container" id="footer-copyr">
                <a href="/templates/index.html" title="Ir para a página inicial"><i class="bi bi-house-fill"
                        style="color: aqua;"></i></a>
                <div class="text-center">&copy; 2025 Lorran eduardo</div>
                <div><li><a href="https://github.com/lLorran408" target="_blank"><i class="bi bi-github"></i>
                                    GitHub</a></div>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js"></script>
</body>
</html>